.about_main{
    overflow: hidden;
}
.wrapper_about {
    max-width: 1280px;
    padding: 0 40px;
}
.about_title {
    font-size: 36px;
    color: #57fff5;
}
.about_banner {
    position: relative;
}

.about_slogan {
    position: absolute;
    right: 10vw;
    bottom: 100px;
    text-align: center;
}

.about_rwd_title{
    display: none;
}
.about_new{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about_sloganFirst{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 902px) and (max-width: 1200px) {
    .about_slogan {
        right: 15px;
        bottom: 0;
    }
 
}

@media (min-width: 576px) and (max-width: 902px) {
    // 有關banner slogan 字大小變動
    .about_slogan {
        right: 20px;
        bottom: 0;
    }
    .about_slogan h1 {
        font-size: 24px;
    }
    .about_slogan h2 {
        font-size: 14px;
    }

}

@media (min-width:420px) and (max-width:576px){
    .about_slogan {
        right: 14px;
        bottom: 22px
    }
    .about_subtitle {
        display: none;
    }
    .about_slogan h2 {
        font-size: 14px;
    }
    .about_rwd_title{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 24px;
    }
    .about_new{
        display: none;
    }
}

@media screen and (max-width:420px){
    .about_slogan {
        right: 14px;
        bottom: 22px
    }
    .about_subtitle {
        display: none;
    }
    .about_slogan h2 {
        font-size: 14px;
    }
    .about_rwd_title{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 20px;
    }
    .about_new{
        display: none;
    }
    
 
}

@media screen and (max-width:768px) {
     //其他字大小變動
     .about_title{
        font-size: 24px;
      
    }
    .about_brief h3, .about_agenda h3{
        font-size: 16px;
        font-weight: 300;
        line-height: 32px;
    }
}

.about_agenda {
    // background-image: url("/img/about/middle_2.png");
    background-image: url("../img/about/abou_middleimg.png");
    background-size: cover;
    background-position: top center;

    //    background-position: left bottom;
    // position: absolute;
}

.about_schedule li h3 {
    display: inline;
}

.about_time{
    border-right:6px solid white;
    padding-right: 10px;
}
.about_theme{
    padding-left: 10px;
}

// .about_time::after{
//     content: "";
//     background-color: white;
//     width: 10px;
//     height: 42px;
//     display:inline-block;
// }
.about_speakers {
    display: flex;
    text-align: center;
    line-height: 20px;
    justify-items: center;
}
.about_speakers h3 {
    text-align: center;
}
.about_speakers h4 {
    text-align: center;
}
.about_speaker {
    width: 290px;
    height: 481px;
    background-color: #333333;
    // border:2px solid #57FFF5 ;
    display: block;
    border: 1px solid $black-color;
}

.about_speaker:hover {
    cursor: pointer;
    border: 1px solid #57fff5;
}

// 分三塊
// .about_speakers{
//     display: grid;
//     grid-template-rows: auto;
//     grid-template-columns: 1fr 1fr 1fr;
//     gap:80px 40px;
// }
.about_speaker_intro{
    height: 480px;
}
.about_hoverText{
    height: 480px;
    text-align: left;
    // margin-top: 120px;
    display: flex;
    align-items: center;
}
.about_hoverText li {
    text-align: left;
    font-size: 14px;
}
.about_hoverText h4 {
    text-align: left;
    padding: 20px;
}
.about_speakers {
    display: flex;
    align-content: space-between;
    justify-content: space-around;
   
}

@media (max-width: 1100px) {
    .about_speakers {
        flex-wrap: wrap;
    }
}

//輪播

.about_mySwiper {
    margin-bottom: 100px;
}

// .swiper-scrollbar {
//     height:10px;
//     width: 94%;
//     left: 3%;
//     bottom: 10px;
//     position: absolute;
//     background: red;
//     box-shadow: 1px 1px 1px white ;
//   }
//   .swiper-scrollbar-drag {
//     background: yellow;
//     box-shadow: 0px 1px 1px rgb(240, 240, 240);
//   }

.about_slide {
    margin-bottom: 20px;
}
.swiper-horizontal > .about_scrollbar {
    background: $black-color;
    // background-color: aliceblue;
    height: 3px !important;
}
.swiper-horizontal > .swiper-scrollbar > .swiper-scrollbar-drag {
    // background: linear-gradient(to right,#57fff5,#57fff5,#0b2736);
    background: linear-gradient(to right,#57fff5 40%,#0b2736 80%);
    width: 100px !important;

}
