h1{
    color: #57FFF5;
}
.about_banner{
    // height: 800px;
    position: relative;

}

.about_slogan{
    position: absolute;
    right: 10vw;
    bottom: 100px;
    color: white;
}

// @media  (max-width:1120px) {
//     .about_slogan{

        
        
//     }
// }

.about_schedule{
    // background-image: url("/img/about/middle_2.png");
    background-image: url("/img/about/abou_middleimg.png");
    background-size: cover;
    background-position: top center;
}
  
.about_schedule li h3{
    display: inline;
}


.about_speakers{
    display: flex;
    text-align: center;
    line-height: 20px;
}
.about_speakers h3{
    text-align: center;
}
.about_speakers h4{
    text-align: center;
}
.about_speaker{
    width: 290px;
    height: 481px;
    background-color: #333333;
    // border:2px solid #57FFF5 ;
    display: block;
}

.about_speaker:hover{
    cursor: pointer;
    border: 1px solid #57FFF5;
    
}
// 沒有hover時 不顯示文字
.about_hoverText{
    display: none;
    
}
.about_speaker:hover .about_hoverText{
    display: block;
    text-align: left;
    margin-top: 150px;

}
.about_speaker:hover >h3,
.about_speaker:hover >h4,
.about_speaker:hover >img{
    display: none;
    text-align: center;
}


.about_speaker:hover .about_hoverText li{
    text-align: left;
    font-size: 14px;
}

.about_speaker:hover .about_hoverText h4{
    text-align: left;
    padding: 20px;
}

// 分三塊
.about_speakers{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap:80px 40px;
}

// background-position: right top;
// height: 100%;
// padding-top: calc(100% * (9/16));

//輪播


.mySwiper {
    margin-bottom: 100px;
}


// .swiper-scrollbar {
//     height:10px;
//     width: 94%;
//     left: 3%;
//     bottom: 10px;
//     position: absolute;
//     background: red;
//     box-shadow: 1px 1px 1px white ;
//   }
//   .swiper-scrollbar-drag {
//     background: yellow;
//     box-shadow: 0px 1px 1px rgb(240, 240, 240);
//   }

.swiper-slide{
    margin-bottom: 20px;
}
 .swiper-horizontal>.swiper-scrollbar{
    background: $black-color;
    // background-color: aliceblue;
    height: 1px !important;;

}
.swiper-horizontal>.swiper-scrollbar>.swiper-scrollbar-drag{
    background: #57FFF5;
    width: 120px !important;
}