.company_wrapper{
    padding: 35px;
}
.company_title{
    display: flex;
    @include flex-box-between(100%, space-between, center, null);
    .title_skill{
        display: block;
        color: $second-color;
        border: 1px solid rgba($accent-color,0.5);
        // width: 201px;
        // height: 57px;
        padding: 15px 50px;
        text-align: center;
        //  line-height: 57px;
        box-shadow: 0px 4px 4px rgba($accent-color,0.25);
    }
   
}

form{
    .company_iive_li{
        display: flex;
    } 
    .companyback_icon{
        display: flex;
        i{
            color: $accent-color;
            font-size: 30px;
        }
    }
    h2{
        text-shadow: 0px 4px 4px $accent-color;
    }
    input{  width: 695px;
            height: 36px;
            line-height: 36px;
            margin: 0 auto;
            padding: 0 15px;
            background-color: black;
    }
}
