$companyback_num2 : 2;



.company_wrapper {
    padding: 40px 0px 20px 50px;
}



.company_title {
    display: inline-block;

    .title_skill {
        display: block;
        color: $second-color;
        border: 1px solid rgba($accent-color, 0.5);
        padding: 15px 50px;
        text-align: center;
        //  line-height: 57px;
        box-shadow: 0px 4px 4px rgba($accent-color, 0.25);
    }

}

.companyback_form {
    background-color: #0D0D0D;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(87, 255, 245, 0.25);
    width: 1153px;
    height: 443px;
    padding: 20px;
    margin-top: 86px;
    position: relative;

    .companyback_layout {
        font-size: 300px;
        cursor: default;
        position: absolute;
        color: rgba(255, 255, 255, 0.2);
        top: -80px;
    }

    .company_iive_li {
        display: flex;
    }

    .companyback_icon {
        display: flex;
        justify-content: flex-end;

        i {
            color: $accent-color;
            font-size: 30px;
            padding: 15px;
            transition: 300ms all;

            &:hover {
                transform: scale(1.1, 1.1);
            }
        }
    }

    h2 {
        text-shadow: $companyback_text_shadow;
        line-height: 52px;

    }

    .label-before {
        line-height: 20px;
        font-size: 14px;
        top: 34px;
        background: #040F15;
        padding: 0 6px;
        left: 236px;
        // margin: 0 auto;
    }

    .field {
        position: relative;
        display: flex;
        // margin-bottom: 15px;
        margin: 0 auto;
        margin-left: 105px;

        // border: 1px solid red;
        label::before {
            content: attr(title);
            position: absolute;
            top: 53px;
            left: 243px;
            line-height: 36px;
            font-size: 16px;
            color: #F6FAFB;
            transition: 300ms all;
        }
<<<<<<< HEAD
    
=======

>>>>>>> Brandon
        input {
            @include input(695px, $accent-color);
            height: 56px;
            line-height: 56px;
            font-size: 18px;
            // display: block;
            // width: 695px;
            // height: 56px;
            // line-height: 56px;
            // margin: 0 auto;
            // padding: 0 20px;
            // box-sizing: border-box;
            // font-size: 16px;
            // color: $second-color;
            // // border: 1px solid #ccc;
            // border: 1px solid #F6FAFB;
            // border-radius: 5px;
            // background-color: transparent;
            // &:focus {
            //     outline: 0;
            //     border-color: $accent-color;
            // }

            // &:valid+label::before {
            //     @extend .label-before;
            //     content: attr(data-title);
            // }

            // &:focus+label::before {
            //     @extend .label-before;
            //     color: $accent-color;
            //     // color: rgba(0,0,0,0);
            // }
            // &::selection{
            //     background-color: $black-color;
            //     color: $accent-color;
            // }
        }

        // input:not(:focus) + label{
        //     color: rgba(0,0,0,0);
        // }
    }

    .companyback_save {
        width: 177px;
        margin: 0 auto;
        margin-top: 22px;
    }
}



//下方按鈕
.companyback_add {
    .btn_company_back {
        border: 1px solid rgba($accent-color, 0.5);
        display: inline-block;
        float: right;
    }
}





//layout顏色
aside.companyback_layout.blue {
    color: rgba(87, 255, 245, 0.14);
}

aside.companyback_layout.orange {
    color: rgba(243, 127, 21, 0.14);
}

@include laptop(1200px) {
    .companyback_form {
        width: 98%;

        .field {
            // margin-left: 50px;

            // input{
            //     width: 500px;
            //     height: 56px;
            //     line-height: 56px;
            //     font-size: 18px;

            // }



        }
    }


}

@include pad(1052px) {
    .companyback_form {
        width: 98%;

        .field {
            // margin-left: 50px;
<<<<<<< HEAD
            label::before {
            left: 156px;
            }
            .label-before{
                left: 156px;
            }
            input:focus+label::before{
            left: 156px;
            }
            input{
=======


            input {
>>>>>>> Brandon
                width: 80%;
                height: 56px;
                line-height: 56px;
                font-size: 18px;

            }
        }
    }
}

@include pad(895px) {
    .companyback_form {
        width: 98%;

        .field {
            // margin-left: 50px;
<<<<<<< HEAD
            label::before {
                left: 211px;
            }
            .label-before{
                left: 211px;
            }
            input:focus+label::before{
                left: 211px;
            }
            input{
=======


            input {
>>>>>>> Brandon
                width: 60%;
                height: 56px;
                line-height: 56px;
                font-size: 18px;
<<<<<<< HEAD
=======

>>>>>>> Brandon
            }
        }
    }
}

<<<<<<< HEAD
@include pad(768px){
    .companyback_form{
        margin-top: 50px;
    }
    .title_skill {
        margin-top: 60px;
    }
}
@include pad(576px){
    .companyback_form{
        width: 100%;
     
        .field{
=======
@include pad(576px) {
    .companyback_form {
        width: 100%;

        .field {
>>>>>>> Brandon
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-top: 0px;
            margin-left: 30px;
<<<<<<< HEAD
            label::before {
                top: 62px;
                left: 49px;
            }
            .label-before{
                left: 83px;
                top:46px;
            }
            input:focus+label::before{
                top:46px;
                left: 83px;
            }
            input{
=======


            input {
>>>>>>> Brandon
                width: 80%;
                height: 56px;
                line-height: 56px;
                font-size: 18px;
<<<<<<< HEAD
=======


>>>>>>> Brandon
            }
        }
    }
}