


.company_wrapper{
    .companyback_dateform{
        position: relative;
        display: flex;
        flex-direction: column;
        padding-top: 120px;


        .flatpickr-calendar.inline {
            background-color: #040F15;
            // box-shadow: none;
            width: 331px;
            // display:none;
            box-shadow: 0px 4px 4px rgba(0, 209, 255, 0.25);
            padding: 0px 8px;
            // order: 1;
            position: absolute;
            top: 58px;
            left: 55px;
        }
        
        .label-before {
            line-height: 20px;
            font-size: 16px;
            top: -10px;
            background: #040F15;
            padding: 0 6px;
            left: 15px;
            // margin: 0 auto;
        }
        .field {
            position: relative;
            display: flex;
            // order: 2;
            // margin-bottom: 15px;
            // margin: 0 auto;
            // border: 1px solid red;
            label::before {
                content: attr(title);
                position: absolute;
                top: 12px;
                left: 30px;
                line-height: 36px;
                font-size: 18px;
                color: #F6FAFB;
                transition: 300ms all;
            }
            input {
                @include input(391px,$accent-color);
                height: 64px;
                line-height: 64px;
                font-size: 18px;
                box-shadow: 0px 4px 4px rgba(0, 209, 255, 0.25);
            }
            // input:not(:focus) + label{
            //     color: rgba(0,0,0,0);
            // }
        }
    }


}




//下面兩個都是第一部分右半邊的input
.time_tech{
    display: flex;
    // justify-content: flex-end;
    flex-direction: row-reverse;
    //timepicker的input
            //年月日的input
    .form-contril{
    @include input_Date();
        text-align: center;
        padding: 5px;
        border: 1px solid #F37F15;
        font-size: 20px;
        letter-spacing: 1px;
        display: inline-block;
        // order: 2;
        margin-right: 52px;
        box-shadow: 0px 4px 4px rgba(0, 209, 255, 0.25);
            }
    .timepicker {
        // width: 391px;
        border-radius: 10px;
        @include input($width: 391px, $mc:#F37F15, $sc: #F6FAFB, $bc:#040F15);
        height: 64px;
        margin: 0;
        border:1px solid #F37F15;
        font-size: 20px;
        text-align: center;
        background-color: black;
        box-shadow: 0px 4px 4px rgba(0, 209, 255, 0.25);
    }
    
}

.form_under{
    display: flex;
    flex-direction: row-reverse;
    
   .companyback_submit{
    margin-left: 39px;
    width: 213px;
    height: 64px;
    font-size: 23px;
    border: 1px solid #F37F15;
    filter: drop-shadow(0px 4px 4px rgba(0, 209, 255, 0.25));
    border-radius: 10px;
    color: $second-color;
    background-color: black;
   }
}




//第二層
.chatboard{
    padding-top: 80px;
}

.chat1_company{
    overflow-y: auto;
    .sechtion_chat2{
        overflow-y: auto;
    }
}





.companyback_search{
    .companyback_searchinput{
    background: #0D0D0D;
    color:$second-color;
    box-shadow: 0px 4px 4px rgba(0, 209, 255, 0.25);
    border-radius: 20px;
    display: inline-block;
    width: 427px;
    height: 59px;
    border: none ;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    &::before{
        // content:"abc";
        // font-size: 20px;
        // color: white;
                 }

        }
}




// 第一個聊天室
.companyback_main_chatbox{
    display: flex;

}





section.companyback_chat1{
    width: 427px;
    // height: 347px;
    background-color: #0D0D0D;
    box-shadow: 0px 4px 4px rgba(0, 209, 255, 0.25);
    padding: 21px;
    border-radius: 20px;
    display: inline-block;
}



.chat1_company{
     i{
            font-size: 65px;
            color: #F37F15;
        }
    li.variouscompany{
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);
        padding: 10px 2px;
       
        display: flex;
        flex-wrap: wrap;
        i.-main_color{
            color: $main-color;
           }
    div{
        display: flex;
        width: 100%;
            .company_receive{
            padding-left: 115px;
            text-align: center;
            line-height: 60px;
            }
            p{
            font-size: 12px;
            
            }
            span{
                padding: 0 14px;
            }
        }
    
    }
}


// 第二個聊天室




li.variouscompany{
    div{
    span.variouscompany_span{
    padding-left: 115px;
        i{
        font-size:18px;
         }
        }
    }
}




//聊天版

.companyback_back_chatbox {
   width: 666px;
   padding:30px;
   background-color: #0D0D0D;
//    border: 2px solid sandybrown;
   border-radius: 20px;
   box-shadow: 0px 4px 4px rgb(0 209 255 / 25%);
       .chat_title{
        padding: 10px 25px 35px;
           display: flex;
           align-items: center;
           border-bottom:1px solid rgba(255, 255, 255, 0.25);
           i{
            font-size: 65px; 
            color: $accent-color; 
             }
       }
       .chat_input{
        display: flex;
        border-top: 1px solid rgba(255, 255, 255, 0.25);
        padding-top: 32px;
        justify-content: space-between;
        align-items: center;
        input{
            width: 90%;
            height: 45px;
            border-radius: 10px;
            background-color: #212121;
            border: 1px solid $accent-color;
            outline: none;
            color: $second-color;
            &::selection{
                background-color: #212121;
                color: $accent-color;
            }
        }
        .btn-short{
           padding: 0;
           font-size: 30px;
        }
        .chat_input_button{
            background-color: $accent-color;
            border:none ;
            border-radius: 10px;
            i{
                font-size: 30px;
                color:#212121 ;
            }
        }
    }
}

//聊天室內部
.companyback_chated{
    padding: 10px;
    overflow-y: auto;
    
    &::-webkit-scrollbar{
        // height:3px;
        width: 8px;
    }
    &::-webkit-scrollbar-track{
        // background-color: #F6FAFB;
    }
    &::-webkit-scrollbar-thumb{
        // background-color: #F37F15;
        box-shadow: inset 0 0 4px $accent-color;
        border-radius: 5px; 
        
    }
    &::-webkit-scrollbar-track-piece{

    }
    p.chat_content {
        font-size: 16px;
        max-width: 60%;
        border-radius: 10px;
        border-bottom-left-radius: 0;
        background-color: #1B1B1B;
        color: $second-color;
        position: relative;
        padding: 15px;
        width: fit-content;
        
        span{
            position: absolute;
            bottom: -20px;
            left: 4px;
            color: #f6fafb78;
            font-size: 12px;
            min-width: 110px;  
            };
        &::before{
            content: "";
        position: absolute;
        bottom: 0;
        left: -10px;
        border-color: transparent transparent  #1B1B1B transparent;
        border-style: solid solid solid solid;
        border-width: 20px 0px 10px 10px;
        height: 0px;
        width: 0px;    
   
        }
        
    }
    p.chat_content_you{
        margin-left: auto;
        background-color:$accent-color;
        color: $black-color;
        &::before{
            left:10px ;
            border-color: transparent transparent  $accent-color transparent;
        }
    }
   

}