
.contect_wrapper{
    max-width: 1280px;
    padding:0 40px;
}

.contect>.row{
    justify-content: space-between;
}

// 左邊聯絡表單
.contect_introduction {
    // width: 530px;
    background-color: #333333;
    padding: 10px;
}

p:before {
    content: attr(type);
    display: block;
    font-size: 16px;
    color: white;
}
.contect_box {
    width: 100%;
    padding-left: 42px;
    padding-right: 40px;
    transition: all 0.3s;
    border-bottom: 1px solid #f6fafb;
    box-sizing: border-box;
    border: 0;
    transition: all 0.3s;
    border-bottom: 1px solid #bebed2;
    border-radius: 0;
    padding: 10px;
    background: none;
    outline: 0;
}

.contect_box:focus {
    border: 2px solid #57fff5;
}

//右邊聯絡資訊
.contect_information {
    background-color: #333333;
   padding: 10px;
    // width: 530px;
}

.contect_phone,
.contect_mail,
.contect_address {
    display: flex;
    align-items: baseline; //center
}

.contect_map > iframe{
max-width: 100%;
}
//縮和Q&A
.contect_question {
    background-color: #4f4f4f;
    padding: 6px 0 5px 12px;
    box-sizing: border-box;
}

//上下按鈕
.contect_question{
    display: flex;
    align-items: center;
    justify-content: space-between
}
.contect_btn {
    background: none;
    border: 0;
    outline: none;
    color: white;
    display: flex;
   
}
.contect_answer {
    background-color: #4f4f4f;
    display: none;
}

.-change-color{
    color: #57fff5;
}
