.contect_main{
    overflow: hidden;
}
.contect_wrapper{
    max-width: 1280px;
    padding:0 40px;
}

.contect>.row{
    justify-content: space-between;
}

// 左邊聯絡表單
.contect_introduction {
    // width: 530px;
    background-color: #333333;
    padding: 20px;
    
}

// p:before {
//     content: attr(type) ;
//     display: block;
//     font-size: 16px;
//     color: white;
// }
.contect_introduction span {
    color: #f6fafb;
    display: block;
    font-size: 16px;
}
.contect_mark:before{
    content: "*";
    display: block;
    color: #F37F15;
    display: inline-block;

}
.contect_name{
    padding-top: 5px;
}
.contect_box {
    width: 100%;
    padding-left: 42px;
    padding-right: 40px;
    transition: all 0.3s;
    border-bottom: 1px solid #f6fafb;
    box-sizing: border-box;
    border: 0;
    transition: all 0.3s;
    border-bottom: 1px solid #bebed2;
    border-radius: 0;
    padding: 10px;
    background: none;
    font-size: 16px;
    outline: 0;
    color: #f6fafb;
}

//訊息欄位
.contect_message{
    height: 255px;
    resize: none;
}
.contect_box:focus {
    outline: 2px solid #57fff5;
}

.-error {
    outline: 2px solid  $accent-color;
}
//為了和右邊聯絡資訊同高度 調整textarea高度
@media (min-width:614px) and (max-width:956px){
    .contect_message{
        height: 281px;
    }
}
@media (min-width:576px) and (max-width:613.99px){
    .contect_message{
        height: 308px;
    }
}
//rwd 直行縮小高度
@media screen and (max-width:575.99px){
    .contect_message{
        height: 166px;
    }
    
}
//右邊聯絡資訊
.contect_information {
    background-color: #333333;
    padding: 20px;
    // width: 530px;
}

.contect_phone,
.contect_mail,
.contect_address {
    display: flex;
    align-items: baseline; //center
}

.contect_map > iframe{
max-width: 100%;
height: 450px;
}

//rwd 直行縮小高度
@media screen and (max-width:575.99px){
    .contect_map > iframe{
        max-width: 100%;
        height: 400px;
        }
}

//縮和Q&A
.contect_question {
    background-color: #4f4f4f;
    padding: 6px 0 5px 12px;
    box-sizing: border-box;
}

//上下按鈕
.contect_question{
    display: flex;
    align-items: center;
    justify-content: space-between
}
.contect_btn {
    background: none;
    border: 0;
    outline: none;
    color: white;
    display: flex;
   
}
.contect_answer {
    background-color: #4f4f4f;
    display: none;
}

.-change-color{
    color: #57fff5;
}
