.contect_introduction {
    width: 530px;
    background-color: #333333;
}
p:before {
    content: attr(type);
    display: block;
    font-size: 16px;
    color: white;
}
.contect_box {
    width: 100%;
    padding-left: 42px;
    padding-right: 40px;
    transition: all 0.3s;
    border-bottom: 1px solid #f6fafb;
    box-sizing: border-box;
    border: 0;
    transition: all 0.3s;
    border-bottom: 1px solid #bebed2;
    border-radius: 0;
    padding: 10px;
    background: none;
    outline: 0;
}

// input {
//     width: 100%;
//     padding: 10px;
//     box-sizing: border-box;
//     background: none;
//     outline: 0;
//     resize: none;
//     border: 0;
//     transition: all .3s;
//     border-bottom: 1px solid #bebed2;
//     border-radius: 0;
// }
// input:focus {
//     border: 2px solid #57FFF5;
// }

.contect_box:focus {
    border: 2px solid #57fff5;
}
.contect_information {
    background-color: #333333;
    margin-left: 50px;
}

.contect_phone,
.contect_mail,
.contect_address {
    display: flex;
    align-items: baseline; //center
}

//縮和Q&A
.contect_question {
    background-color: #4f4f4f;
    padding: 6px 0 5px 12px;
    box-sizing: border-box;
}

//上下按鈕

.contect_btn {
    float: right;
    background: none;
    border: 0;
    outline: none;
    color: white;
    // display: inline-block;
}
.contect_answer {
    background-color: #4f4f4f;
    display: none;
}

.contect_up {
    display: none;
}

ul > li.-on > .contect_btn .contect_down {
    display: none;
}
ul > li.-on > .contect_btn .contect_up {
    display: block;
}
