// =========輪播==========
.extend_head{
    margin-bottom: 0;
    .swiper-slide{
        cursor: pointer;
        width: 100px;
        height: 91.15px;
        @include flex-box-center(null);
        img{
            max-height: 91.15px;
        }
    }
    h1.cblook_top{
        width: 100%;
    }
}

// ======攤位圖======
.extend_main{
    .swiper-button-next, .swiper-button-prev{
        top:500px;
    }
}
.extend_body{
    .extend_look{
        @include relative();
        .video{
            width: 36%;
            height: 36%;
        }
        .extend_banner{
            @include flex-box(33%,flex-start,center);
            height: calc(7.5vw - 1px);
            max-height: 90px;
            @media screen and (max-width: $md_bkpoint) {
                flex-wrap: nowrap;
            }
            img{
                height:100%;
            }
            @include pad(992px){
                h3{
                    font-size: min(1.6vw ,24px);
                    line-height: 1.5;
                }
            }
        }
        .extend_booth1{
            @include relative();
            .video{
                @include absolute(47.5%, null, null, 26%);
            };
            .extend_banner{
                @include absolute(14.9%, null, null, 27.7%);
            }
        }
        .extend_booth2{
            @include relative();
            .video{
                @include absolute(47.5%, null, null, 25%);
            };
            .extend_banner{
                @include absolute(17.1%, null, null, 24.8%);
            }
        }
        .extend_booth3{
            @include relative();
            .video{
                @include absolute(36%, null, null, 32.5%);
            };
            .extend_banner{
                @include absolute(2.6%, null, null, 34.5%);
            }
        }   
        .extend_chat_btn{
            display: block;
            height: 100%;
            width: 20%;
            @include absolute(null, 8%, 0);
            .extend_robot, .extend_robotwave{
                @include absolute(null, 8%, 0);
                height: 60%;
                animation: robotMove 1.5s infinite;
            }
            .extend_robotwave{
                opacity: 0;
            }
            .extend_chat{
                @include absolute(28%, 6%);
                font-size: min(10vw, 120px);
                animation: robotMove 1.5s infinite;
            }
            &:hover {
                color: $main-color;
                .extend_robot{
                    opacity: 0;
                }
                .extend_robotwave{
                    opacity: 1;
                }
            }
        }
        .extend_chatbox{
            @include absolute(20%,null, null, 50%);
            transform: translateX(-50%);
            background-color: $black-color;
            height: 450px;
            width: 300px;
            .chat_title{
                border-bottom: 1px solid #f6fafb78;
                h3{
                    i{
                    font-size: 30px;
                    vertical-align: middle;
                    }
                }
                .chatbox_close{
                    @include absolute(10px,10px);
                    font-size: 20px;
                    cursor: pointer;
                }
            }
            .chated{
                height: 300px;
                overflow-y: auto;
                touch-action: pan-y;
                &::-webkit-scrollbar{
                    height: 3px;
                }
                &::-webkit-scrollbar-thumb{
                    box-shadow: inset 0 0 5px grey;
                    border-radius: 5px; 
                }
                .chat_content{
                    span{
                        min-width: 110px;
                    }
                }
                .chat_content:first-of-type{
                    margin-top: 10px;
                }
                .chat_content_you{
                    font-size: 16px;
                    line-height: 1.6;
                    width:fit-content;
                    width:-webkit-fit-content;
                    width:-moz-fit-content;
                    max-width: 60%;
                    border-radius: 10px;
                    border-bottom-left-radius: 0;
                    background-color: $second-color;
                    color: $black-color;
                    @include relative();
                    &::before{
                        content: '';
                        @include absolute(null,null,0,-10px);
                        border-color: transparent transparent $second-color transparent;
                        border-style: solid solid solid solid;
                        border-width: 20px 0px 10px 10px;
                        height: 0px;
                        width: 0px;
                    }
                    span{
                        @include absolute(null,null,-20px,5px);
                        color:#f6fafb78;
                        font-size: 12px;
                    }
                }
                .chat_content_me{
                    font-size: 16px;
                    line-height: 1.6;
                    width:fit-content;
                    width:-webkit-fit-content;
                    width:-moz-fit-content;
                    max-width: 60%;
                    border-radius: 10px;
                    border-bottom-right-radius: 0;
                    background-color: $main-color;
                    color: $black-color;
                    margin-left: auto;
                    @include relative();
                    &::before{
                        content: '';
                        @include absolute(null,-10px,0);
                        border-color: transparent transparent $main-color transparent;
                        border-style: solid solid solid solid;
                        border-width: 20px 10px 10px 0px;
                        height: 0px;
                        width: 0px;
                    }
                    span{
                        @include absolute(null,5px,-20px);
                        color:#f6fafb78;
                        font-size: 12px;
                        word-wrap:nowrap
                    }
                }
            }
            .chat_input{
                @include flex-box-center(100%);
                input{
                    @include input(70%);
                    padding:10px 5px;
                    margin: 10px;
                }

            }
        }
    }
}

@keyframes robotMove{
    0%{
        transform: translateY(0);
    }50%{
        transform: translateY(4%);
    }100%{
        transform: translateY(0);
    }
}
// ======下面內文======

.extend_content{
    width: 95%;
    word-break: break-all;
    h3{
        display: inline-block;
        width: 30%;
        cursor: pointer;
        &:hover {
            color: $main-color;
        }
        &.content_pointed{
            color: $main-color;
            &::after{
                content: "";
                display: block;
                width: 100%;
                border-bottom: 2px solid $main-color;
            }
        }
    }
    .content_tech{
        >div{
            width: 95%;
            display: flex;
            flex-wrap: wrap;
            border-bottom: 1px solid $main-color;
            h4{
                min-width: 200px;
                white-space : nowrap;
                overflow: hidden;
                text-overflow : ellipsis;
            }
            div{
                margin-left: auto;
                text-align: right;
                display: flex;
                a{
                    font-size: 14px;;
                    width: 95px;
                    padding:4px;
                    word-break: keep-all;
                }
            }
            &:last-of-type{
                margin-bottom: 40px;
            }
        }
    }
    .content_video{
        .video{
            width: 80%;
            height: 40vw;           
        }
    } 
}
// =======RWD======
@include laptop(1200px){
    .extend_main{
        .swiper-button-next, .swiper-button-prev{
            top:60vw;
        }
    }
}
@include mobile(576px){
    .extend_content{
        h3{
            font-size: 14px;
        }
    }
    .extend_body .extend_look .extend_chatbox{
        @include absolute(-10%,null, null, 50%);
    }
    h1.cblook_top{
        font-size: 26px;
    }
}