// =========輪播==========
.extend_head{
    margin-bottom: 0;
    .swiper-slide{
        max-width: 100px;
        cursor: pointer;
        img{
            max-height: 91.15px;
            display: block;
            margin: 0 auto;
        }
    }
}

// ======攤位圖======
.extend_body{
    .video{
        width: 36%;
        height: 36%;
    }
    .extend_banner{
        @include flex-box(33%,flex-start,center);
        height: 7.5vw;
        max-height: 90px;
        @media screen and (max-width: $md_bkpoint) {
            flex-wrap: nowrap;
        }
        img{
            height:100%;
        }
        @include pad(992px){
            h3{
                font-size: min(1.6vw ,24px);
                line-height: 1.5;
            }
        }
    }
    .extend_booth1{
        @include relative();
        .video{
            @include absolute(47.5%, null, null, 26%);
        };
        .extend_banner{
            @include absolute(14.9%, null, null, 27.5%);
        }
    }
    .extend_booth2{
        @include relative();
        .video{
            @include absolute(47.5%, null, null, 25%);
        };
        .extend_banner{
            @include absolute(17.1%, null, null, 24.6%);
            @include flex-box(33%,flex-start,center);
        }
    }
    .extend_booth3{
        @include relative();
        .video{
            @include absolute(36%, null, null, 32.5%);
        };
        .extend_banner{
            @include absolute(2.5%, null, null, 34.5%);
        }
    }   
    .extend_chat_btn{
        .extend_robot, .extend_robotwave{
            @include absolute(null, 8%, 0);
            height: 60%;
            animation: robotMove 1.5s infinite;
        }
        .extend_robotwave{
            opacity: 0;
        }
        .extend_chat{
            @include absolute(28%, 6%);
            font-size: min(10vw, 120px);
            animation: robotMove 1.5s infinite;
        }
        &:hover {
            color: $main-color;
            .extend_robot{
                opacity: 0;
            }
            .extend_robotwave{
                opacity: 1;
            }
        }
    }
}

@keyframes robotMove{
    0%{
        transform: translateY(0);
    }50%{
        transform: translateY(4%);
    }100%{
        transform: translateY(0);
    }
}
// =======RWD======
@include mobile(375px){
} 