// preloader setting
.index_block {
    #preloader {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999999;
        background-color: rgba($black-color, 1);

        .circle{
            width: 180px;
            height: 180px;
            border: 10px inset $main-color;
            display: block;
            position: fixed;
            top: 50%;
            left: 50%;
            margin-left: -95px;
            margin-top: -95px;
            border-radius: 200px;
            -moz-animation: rotate 5s infinite linear;
            -webkit-animation: rotate 5s infinite linear;
            animation: rotate 5s infinite linear;
            box-shadow: 0 0 5px rgba(0,0,0,0.2);
        }
        
        .circle-small{
            width: 150px;
            height: 150px;
            border: 6px outset rgb(133,224,242);
            display: block;
            position: fixed;
            top: 50%;
            left: 50%;
            margin-left: -81px;
            margin-top: -81px;
            border-radius: 156px;
            -moz-animation: rotate-rev 3s infinite linear;
            -webkit-animation: rotate-rev 3s infinite linear;
            animation: rotate-rev 3s infinite linear;
            box-shadow: 0 0 5px rgba(0,0,0,0.2);
        }
        
        .circle-big{
            width: 210px;
            height: 210px;
            border: 4px dotted $backmain-color;
            display: block;
            position: fixed;
            top: 50%;
            left: 50%;
            margin-left: -109px;
            margin-top: -109px;
            border-radius: 214px;
            -moz-animation: rotate-rev 10s infinite linear;
            -webkit-animation: rotate-rev 10s infinite linear;
            animation: rotate-rev 10s infinite linear;
        }
        
        .circle-inner-inner{
            width: 50px;
            height: 50px;
            background-color: $main-color;
            display: block;
            position: fixed;
            top: 50%;
            left: 50%;
            margin-left: -30px;
            margin-top: -30px;
            border-radius: 100px;
            -moz-animation: pulse 1.5s infinite ease-in;
            -webkit-animation: pulse 1.5s infinite ease-in;
            animation: pulse 1.5s infinite ease-in;
            box-shadow: 0 0 5px rgba(0,0,0,0.2);
        }
        .circle-inner{
            width: 40px;
            height: 40px;
            background-color: rgb(133,224,242);
            display: block;
            position: fixed;
            top: 50%;
            left: 50%;
            margin-left: -25px;
            margin-top: -25px;
            border-radius: 80px;
            -moz-animation: pulse 1.5s infinite ease-in;
            -webkit-animation: pulse 1.5s infinite ease-in;
            animation: pulse 1.5s infinite ease-in;
            opacity: 1;
            box-shadow: 0 0 5px rgba(0,0,0,0.2);
        }
        
    }
    
}

@-moz-keyframes rotate{
    0% {-moz-transform: rotate(0deg);}
    100% {-moz-transform: rotate(360deg);}
  }
  
  @-webkit-keyframes rotate{
      0% {-webkit-transform: rotate(0deg);}
      100% {-webkit-transform: rotate(360deg);}
  }
  
  @keyframes rotate{
      0% {transform: rotate(0deg);}
      100% {transform: rotate(360deg);}
  }
  
  /*==============ROTATE-REV=================*/
  
  @-moz-keyframes rotate-rev{
      0% {-moz-transform: rotate(0deg);}
      100% {-moz-transform: rotate(-360deg);}
  }
  
  @-webkit-keyframes rotate-rev{
      0% {-webkit-transform: rotate(0deg);}
      100% {-webkit-transform: rotate(-360deg);}
  }
  
  @keyframes rotate-rev{
      0% {transform: rotate(0deg);}
      100% {transform: rotate(-360deg);}
  }
  
  /*==============PULSE======================*/
  
  @-moz-keyframes pulse{
      0% {
          -moz-transform: scale(0.1);
          opacity: 0.2;
      }
      50% {
          -moz-transform: scale(1);
          opacity: 0.8;
      }
      100% {
          -moz-transform: scale(0.1);
          opacity: 0.2;
      }
  }
  
  @-webkit-keyframes pulse{
      0% {
          -webkit-transform: scale(0.1);
          opacity: 0.2;
      }
      50% {
          -webkit-transform: scale(1);
          opacity: 0.8;
      }
      100% {
          -webkit-transform: scale(0.1);
          opacity: 0.2;
      }
  }
  
  @keyframes pulse{
      0% {
          transform: scale(0.1);
          opacity: 0.2;
      }
      50% {
          transform: scale(1);
          opacity: 0.8;
      }
    100% {
          transform: scale(0.1);
          opacity: 0.2;
      }
  }

// 外層>.index_bcg_desktop
.index_block{
    .index_bcg_desktop {
        width: 100%;
    }
    .index_bcg_mobile {
        display: none;
    }
}

// title
.index_block{
    @include relative();
    .index_title {
        margin-top: 100px;
        color: $second-color;
        @include absolute(0, null, null, 50%);
        transform: translateX(-48%);  // 中間框並非置中所以設定48%

        h1 {
            text-shadow: 1px 1px 1px (rgba($second-color, 0.7));
        }
    }
}

.index_title h1::after {
    content: attr(data-spotlight);
    width: 110%;
    color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    // -webkit-clip-path: ellipse(100px 100px at 0% 50%);
    clip-path: ellipse(100px 100px at 0% 50%);
    animation: spotlight 4s infinite;
    background: linear-gradient(
        to right,
        $accent-color,
        #dc3005
    );
    background-size: 100%;
    background-position: center center;
    -webkit-background-clip: text;
    background-clip: text;
}

@keyframes spotlight {
    0% {
        -webkit-clip-path: ellipse(100px 100px at 0% 50%);
        clip-path: ellipse(100px 100px at 0% 50%);
    }
    50% {
        -webkit-clip-path: ellipse(100px 100px at 100% 50%);
        clip-path: ellipse(100px 100px at 100% 50%);
    }
    100% {
        -webkit-clip-path: ellipse(100px 100px at 0% 50%);
        clip-path: ellipse(100px 100px at 0% 50%);
    }
}


// parallax元件定位
.index_parallax_container {
    width: 100%;
    height: 100%;
    @include absolute (0,0);
    
    .index_parallax_items {
        
            // 左上巧拼
            .index_paraItems_left_top {
                @include relative();
                
                .index_left_top_fixed {
                    width: 14vw;
                    @include absolute(11vw, null, null, 2.5vw);
                }
                .index_left_top_move {
                    width: 96vw;
                    @include absolute(0.5vw, null, null, 1vw);
                    animation: moving 2s ease-in-out 1s infinite;
                }
            }
            
            // 左下光點
            .index_paraItems_left_bot {
                @include relative();
                width: 100%;

                .index_left_bot_bcg {
                    width: 14vw;
                    @include absolute(34vw, null, null, 2.5vw);
                }
            
                .index_left_bot_topLight {
                    width: 5vw;
                    @include absolute(35.5vw, null, null, 9.5vw);
                    animation: mask 1s linear 1.5s infinite;
                }

                .index_left_bot_midLight {
                    width: 5vw;
                    @include absolute(38.5vw, null, null, 5.5vw);
                    animation: mask 1.5s linear 1.5s infinite;
                }

                .index_left_bot_botLight {
                    width: 4vw;
                    @include absolute(43vw, null, null, 10vw);
                    animation: mask 2s linear 1.5s infinite;
                }
            }

            // 中下圓盤
            .index_paraItems_center_bot {
                @include relative();
                width: 100%;

                .index_center_bot_disk_platform {
                    width: 31vw;
                    @include absolute(47.5vw, null, null, 35.5vw);
                }
                .index_center_bot_disk_light {
                    width: 58vw;
                    @include absolute(20.5vw, null, null, 21.5vw);
                    transition: diskLight 1.5s;
                    animation: diskLight 1.5s ease-in-out 1s infinite;
                }
                .index_center_bot_disk {
                    width: 70vw;
                    @include absolute(36.5vw, null, null, 16.5vw);
                    animation: diskMove 5s ease-in-out 1s infinite;
                }
            }


            // 中上主要區塊
            .index_paraItems_center_top {
                @include relative();
                width: 100%;

                .index_center_top_area {
                    width: 75vw;
                    @include absolute(2.5vw, null, null, 14.5vw);
                }
            }

            // 右側區塊
            .index_paraItems_right {
                @include relative();
                width: 100%;

                .index_right_monitor {
                    width: 13vw;
                    @include absolute(10.5vw, 1vw, null, null);
                }
                .index_right_bar1 {
                    width: 11vw;
                    @include absolute (29vw, 1.5vw);
                    animation: barHopping1 2.5s linear infinite;
                }
                .index_right_bar2 {
                    width: 11vw;
                    @include absolute (29vw, 1.5vw);
                    animation: barHopping2 2.5s linear infinite;
                }
                .index_right_bar3 {
                    width: 11vw;
                    @include absolute (29vw, 1.5vw);
                    animation: barHopping3 2.5s linear infinite; 
                }
                .index_right_bar4 {
                    width: 11vw;
                    @include absolute (29vw, 1.5vw);
                    animation: barHopping4 2.5s linear infinite;
                }
                .index_right_bar5 {
                    width: 11vw;
                    @include absolute (29vw, 1.5vw);
                    animation: barHopping5 2.5s linear infinite;
                }
            }
            
        }
        
    }
    
    

        

    // 左上巧拼
    @keyframes moving {
            0% {
                transform: translate(0);
            }
        50% {
            transform: translate(1vw, -1vw)
        }
        100% {
            transform: translate(0);
        }
    }
    // 左下光點
    @keyframes mask {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    // 下方圓盤    
    @keyframes diskMove {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(1.5vw);
        }
        100% {
            transform: translateY(0);
        }
    }
    // 下方圓盤燈光
    @keyframes diskLight {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    // 右側區塊
    @keyframes barHopping1 {
        0% {
            opacity: 1;
        }
        18%{
            opacity: 1;
        }
        19%{
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }
    
    @keyframes barHopping2 {
        0% {
            opacity: 0;
        }
        17% {
            opacity: 0;
        }
        18%{
            opacity: 1;
        }
        36%{
            opacity: 1;
        }
        37%{
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }
    
    @keyframes barHopping3 {
        0% {
            opacity: 0;
        }
        35% {
            opacity: 0;
        }
        36%{
            opacity: 1;
        }
        54%{
            opacity: 1;
        }
        55%{
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }
    
    @keyframes barHopping4 {
        0% {
            opacity: 0;
        }
        53% {
            opacity: 0;
        }
        54%{
            opacity: 1;
        }
        72%{
            opacity: 1;
        }
        73%{
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }
    
    @keyframes barHopping5 {
        0% {
            opacity: 0;
        }
        71% {
            opacity: 0;
        }
        72%{
            opacity: 1;
        }
        99%{
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    
// 輪播設定
.index_swiper_wrapper{
    @include absolute(25%, null, null, 50%);
    transform: translateX(-48%);
    width: 60vw;

    .index_swiper_container {
        width: 100%;

        .index_slide {
            background-position: center;
            background-size: cover;
            width: 22vw;
            height: 22vw;

            display: flex;
            justify-content: center;
            align-items: center;

            a {
                &:hover {
                    color: $main-color;
                }
                img {
                    display: block;
                    width: 100%;
                    @include relative();
                }
                div {
                    @include absolute(50%, null, null, 50%);
                    transform: translate(-50%, -50%);

                    h2,
                    h3 {
                        letter-spacing: 2px;
                        text-shadow: 1px 1px 1px rgba($second-color, 0.7);
                    }
                }
            }
        }
    }
}

// 電腦板barHopping+輪播箭頭+pagination dots
.index_block {
    .index_mobile_btnNext, .index_mobile_btnPrev, .index_mobile_pagination {
        display: none;
    }
}


// rwd 1400px-1600px
@media (min-width: 1400px) and (max-width: 1599.98px){
    .index_block{

        .index_title {
            h1 {
                font-size: 3vw;
            }
        }
    }
}

// rwd 1600-2000px
@media (min-width: 1600px) and (max-width: 1999.98px){
    .index_block{
        .index_title{
            margin-top: 120px;

            h1 {
                font-size: 3vw;
            }
        }
    }

    .index_swiper_wrapper{
        width: 66vw;
        top: 20%;

        .index_swiper_container{
        
            .index_slide {
                width: 26vw;
                height: 26vw;
            }
        }
    }
}

// rwd 1200-1400px
@media (min-width: 1200px) and (max-width: 1399.98px){
    .index_block{

        .index_title {
            h1 {
                font-size: 2.5vw;
            }
        }
    }

    .index_swiper_wrapper{
        width: 60vw;

        .index_swiper_container{

            .index_slide {
                width: 23vw;
                height: 23vw;

                a{
                    .index_bcg_desktop{
                        width: 90%;
                    }
                }
            }
        }
    }
}

// rwd 992-1200px
@media (min-width: 992px) and (max-width: 1199.98px){
    .index_block{

        .index_title {
            margin-top: 70px;

            h1 {
                font-size: 2.5vw;
            }
        }
    }

    .index_swiper_wrapper{
        width: 60vw;

        .index_swiper_container{
            .index_slide {
                width: 23vw;
                height: 23vw;

                a{
                    img {
                        width: 90%;
                    }
                    div {
                        h2,
                        h3 {
                            font-size: 130%;
                        }
                    }
                }
            }
        }
    }
}

// rwd 768-992px
@media (min-width: 768px) and (max-width: 991.98px){
    .index_block{

        .index_title {
            margin-top: 70px;

            h1 {
                font-size: 2.5vw;
            }
        }
    }
    .index_swiper_wrapper{
        width: 60vw;

        .index_swiper_container{
            .index_slide {
                width: 23vw;
                height: 23vw;

                a{
                    img {
                        width: 90%;
                    }
                    div {
                        h2,
                        h3 {
                            font-size: 110%;
                        }
                    }
                }
            }
        }
    }
}

// rwd 576-768px
@media (min-width: 576px) and (max-width: 767.98px){
    .index_block{

        .index_title {
            margin-top: 50px;

            h1 {
                font-size: 2.5vw;
            }
        }
    }

    .index_swiper_wrapper{
        width: 60vw;

        .index_swiper_container{
            .index_slide {
                width: 23vw;
                height: 23vw;

                a{
                    img {
                        width: 84%;
                    }
                    div {
                        h2,
                        h3 {
                            font-size: 80%;
                        }
                    }
                }
            }
        }
    }
}

// rwd <576px
@media (max-width: 575.98px){
    .index_block{
        .index_bcg_desktop {
            display: none;
        }
        .index_bcg_mobile {
            display: block;
            width: 100%;
        }
    }

    .index_block {
        .index_right_side {
            display: block;
            width: 23vw;
            @include absolute (auto, auto, 20vw, 23vw);
            transform: rotate(90deg);
            .index_bar_img1 {
                animation: barHopping1 2.5s linear infinite;
            }
            .index_bar_img2 {
                animation: barHopping2 2.5s linear infinite;
            }
            .index_bar_img3 {
                animation: barHopping3 2.5s linear infinite; 
            }
            .index_bar_img4 {
                animation: barHopping4 2.5s linear infinite;
            }
            .index_bar_img5 {
                animation: barHopping5 2.5s linear infinite;
            }    
        }
    }

    .index_block {
        .index_mobile_nav {
            @include relative();
            // border: 1px solid red;
            // height: 5rem;
                .index_mobile_btnNext, .index_mobile_btnPrev, .index_mobile_pagination {
                    display: block;
                }

                .index_mobile_btnNext, .index_mobile_btnPrev {
                    color: $second-color;
                    &:hover {
                        color: $accent-color;
                    }
                }
                .index_mobile_btnPrev {
                    @include absolute(-89vw, null, null, 13vw);
                }
                .index_mobile_btnNext {
                    @include absolute(-89vw, 11vw, null, null);
                }
                // .index_mobile_pagination {
                //     color: $accent-color;
                //     @include absolute(-84vw, 11vw, null, null);
                // }
        //     }
        }    
    }

    .index_block{
        .index_title {
            margin-top: 20%;

            h1 {
                font-size: 5.4vw;
                text-align: center;
            }
        }
    }

    .index_title h1::after {
        content: 'Tián lám 2022 智慧全球科技聚策展';
        width: auto;
        color: transparent;
    }

    .index_swiper_wrapper{
        width: 66vw;
        top: 33%;

        // .index_swiper_container {
            // @include relative();
        

            // .index_mobile_btnNext, .index_mobile_btnPrev, .index_mobile_pagination {
            //     display: block;
            // }

            // .index_mobile_btnNext, .index_mobile_btnPrev {
            //     color: $second-color;
            //     &:hover {
            //         color: $accent-color;
            //     }
            // }

            .index_swiper_container{

                .index_slide {
                    width: 23vw;
                    height: 40vw;

                    a{
                        img {
                            width: 84%;
                        }
                        div {
                            h2,
                            h3 {
                                font-size: 1.5rem;
                            }
                        }
                    }
                }


            }
        
    }

}

