// 外層>img
.index_block{
    img {
    max-width: 1440px;
    width: 100%;
    position: relative; // w/ div.index_title
    }
}

// div&h1
.index_title {
    color: $second-color;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

// spotlight on title
.index_title{
    margin-top: 100px;
    // @include relative();

    h1 {
        position: relative;
        text-shadow: 1px 1px 1px (rgba($second-color, 0.7));
    }
}

.index_title h1::after {
    content: attr(data-spotlight);
    width: 110%;
    color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    // -webkit-clip-path: ellipse(100px 100px at 0% 50%);
    clip-path: ellipse(100px 100px at 0% 50%);
    animation: spotlight 4s infinite;
    background: linear-gradient(
        to right,
        $accent-color,
        #dc3005
    );
    background-size: 100%;
    background-position: center center;
    -webkit-background-clip: text;
    background-clip: text;
}

@keyframes spotlight {
    0% {
        -webkit-clip-path: ellipse(100px 100px at 0% 50%);
        clip-path: ellipse(100px 100px at 0% 50%);
    }
    50% {
        -webkit-clip-path: ellipse(100px 100px at 100% 50%);
        clip-path: ellipse(100px 100px at 100% 50%);
    }
    100% {
        -webkit-clip-path: ellipse(100px 100px at 0% 50%);
        clip-path: ellipse(100px 100px at 0% 50%);
    }
}

// 輪播設定
.index_block {
    @include relative();
}

.index_swiper_wrapper{
    @include absolute(25%, null, null, 50%);
    transform: translateX(-50%);
    width: 60vw;

    .index_swiper_container {
        width: 100%;

        .index_slide {
            // margin-top: 170px;
            background-position: center;
            background-size: cover;
            width: 22vw;
            height: 22vw;

            display: flex;
            justify-content: center;
            align-items: center;

            a {
                &:hover {
                    color: $main-color;
                }
                img {
                    display: block;
                    width: 100%;
                    @include relative();
                }
                div {
                    @include absolute(50%, null, null, 50%);
                    transform: translate(-50%, -50%);

                    h2,
                    h3 {
                        letter-spacing: 2px;
                        text-shadow: 1px 1px 1px rgba($second-color, 0.7);
                    }
                }
            }
        }
    }
}


// rwd 1400px-1600px
@media (min-width: 1400px) and (max-width: 1599.98px){
    .index_title {
        h1 {
            font-size: 42px;
        }
    }

    // .index_swiper_wrapper{
    //     .index_swiper_container{
    //         .index_slide {
    //         width: 22vw;
    //         height: 22vw;
    //         }
    //     }
    // }
}

// rwd 1600-2000px
@media (min-width: 1600px) and (max-width: 1999.98px){
    .index_title{
        margin-top: 120px;
        h1 {
            font-size: 48px;
        }
    }

    .index_swiper_wrapper{
        width: 54vw;
        .index_swiper_container{
            .index_slide {
                width: 20vw;
                height: 20vw;
            }
        }
    }
}

// rwd 1200-1400px
@media (min-width: 1200px) and (max-width: 1399.98px){
    .index_title {
        h1 {
            font-size: 34px;
        }
    }
    .index_swiper_wrapper{
        width: 60vw;
        .index_swiper_container{

            .index_slide {
                width: 23vw;
                height: 23vw;

                a{
                    img{
                        width: 90%;
                    }
                }
            }
        }
    }
}

// rwd 992-1200px
@media (min-width: 992px) and (max-width: 1199.98px){
    .index_title {
        h1 {
            font-size: 28px;
        }
    }
    .index_swiper_wrapper{
        width: 60vw;
        .index_swiper_container{

            .index_slide {
                width: 23vw;
                height: 23vw;

                a{
                    img {
                        width: 90%;
                    }
                    div {
                        h2,
                        h3 {
                            font-size: 130%;
                        }
                    }
                }
            }
        }
    }
}

// rwd 768-992px
@media (min-width: 768px) and (max-width: 991.98px){
    .index_title {
        h1 {
            font-size: 80%;
        }
    }


}