// 外層>.index_bcg_desktop
.index_block{
    .index_bcg_desktop {
        width: 100%;
    }
    .index_bcg_mobile {
        display: none;
    }
}

// title
.index_block{
    @include relative();
    .index_title {
        margin-top: 100px;
        color: $second-color;
        @include absolute(0, null, null, 50%);
        transform: translateX(-48%);  // 中間框並非置中所以設定48%

        h1 {
            text-shadow: 1px 1px 1px (rgba($second-color, 0.7));
        }
    }
}

.index_title h1::after {
    content: attr(data-spotlight);
    width: 110%;
    color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    // -webkit-clip-path: ellipse(100px 100px at 0% 50%);
    clip-path: ellipse(100px 100px at 0% 50%);
    animation: spotlight 4s infinite;
    background: linear-gradient(
        to right,
        $accent-color,
        #dc3005
    );
    background-size: 100%;
    background-position: center center;
    -webkit-background-clip: text;
    background-clip: text;
}

@keyframes spotlight {
    0% {
        -webkit-clip-path: ellipse(100px 100px at 0% 50%);
        clip-path: ellipse(100px 100px at 0% 50%);
    }
    50% {
        -webkit-clip-path: ellipse(100px 100px at 100% 50%);
        clip-path: ellipse(100px 100px at 100% 50%);
    }
    100% {
        -webkit-clip-path: ellipse(100px 100px at 0% 50%);
        clip-path: ellipse(100px 100px at 0% 50%);
    }
}


// 右側bar條變動
.index_right_side {
    width: 11vw;
    @include absolute (29vw, 1.5vw);
    // transition: all 2s;
    
    img {
        width: 100%;
    }
    .index_bar_img1 {
        animation: barHopping1 2.5s linear infinite;
    }
    .index_bar_img2 {
        animation: barHopping2 2.5s linear infinite;
    }
    .index_bar_img3 {
        animation: barHopping3 2.5s linear infinite; 
    }
    .index_bar_img4 {
        animation: barHopping4 2.5s linear infinite;
    }
    .index_bar_img5 {
        animation: barHopping5 2.5s linear infinite;
    }
    .index_bar_img6 {
        animation: barHopping1 6s linear infinite;
        display: none;
    }

}



@keyframes barHopping1 {
    0% {
        opacity: 1;
    }
    18%{
        opacity: 1;
    }
    19%{
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes barHopping2 {
    0% {
        opacity: 0;
    }
    17% {
        opacity: 0;
    }
    18%{
        opacity: 1;
    }
    36%{
        opacity: 1;
    }
    37%{
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes barHopping3 {
    0% {
        opacity: 0;
    }
    35% {
        opacity: 0;
    }
    36%{
        opacity: 1;
    }
    54%{
        opacity: 1;
    }
    55%{
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes barHopping4 {
    0% {
        opacity: 0;
    }
    53% {
        opacity: 0;
    }
    54%{
        opacity: 1;
    }
    72%{
        opacity: 1;
    }
    73%{
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes barHopping5 {
    0% {
        opacity: 0;
    }
    71% {
        opacity: 0;
    }
    72%{
        opacity: 1;
    }
    99%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

// @keyframes barHopping6 {
//     0% {
//         opacity: 0;
//     }
//     98%{
//         opacity: 0;
//     }
//     99% {
//         opacity: 1;
//     }
//     100% {
//         opacity: 1;
//     }
// }


// 下方圓盤
.index_block {
    .index_disk {
        width: 70vw;
        @include absolute( null, 14vw, -2.2vw);
        // transform: translateY(10px);
        animation: diskMove 2s ease-in-out 1s infinite;
    }
}

@keyframes diskMove {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(1.5vw);
    }
    100% {
        transform: translateY(0);
    }
}

.index_block{
    .index_top_light {
        width: 7vw;
        @include absolute(null, null, 18.8vw, 8.2vw);
        animation: mask 1s linear 1.5s infinite;
    }
    .index_mid_light {
        width: 6vw;
        @include absolute(null, null, 16.6vw, 4.5vw);
        animation: mask 1.5s linear 1.5s infinite;
    }
    .index_bot_light {
        width: 6.5vw;
        @include absolute(null, null, 12.3vw, 8.3vw);
        animation: mask 2s linear 1.5s infinite;
    }

}

@keyframes mask {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


// 輪播設定
.index_block {
    @include relative();
}

.index_swiper_wrapper{
    @include absolute(25%, null, null, 50%);
    transform: translateX(-48%);
    width: 60vw;

    .index_swiper_container {
        width: 100%;

        .index_slide {
            background-position: center;
            background-size: cover;
            width: 22vw;
            height: 22vw;

            display: flex;
            justify-content: center;
            align-items: center;

            a {
                &:hover {
                    color: $main-color;
                }
                img {
                    display: block;
                    width: 100%;
                    @include relative();
                }
                div {
                    @include absolute(50%, null, null, 50%);
                    transform: translate(-50%, -50%);

                    h2,
                    h3 {
                        letter-spacing: 2px;
                        text-shadow: 1px 1px 1px rgba($second-color, 0.7);
                    }
                }
            }
        }
    }
}


// rwd 1400px-1600px
@media (min-width: 1400px) and (max-width: 1599.98px){
    .index_block{

        .index_title {
            h1 {
                font-size: 3vw;
            }
        }
    }
}

// rwd 1600-2000px
@media (min-width: 1600px) and (max-width: 1999.98px){
    .index_block{
        .index_title{
            margin-top: 120px;

            h1 {
                font-size: 3vw;
            }
        }
    }

    .index_swiper_wrapper{
        width: 66vw;
        top: 20%;

        .index_swiper_container{
        
            .index_slide {
                width: 26vw;
                height: 26vw;
            }
        }
    }
}

// rwd 1200-1400px
@media (min-width: 1200px) and (max-width: 1399.98px){
    .index_block{

        .index_title {
            h1 {
                font-size: 2.5vw;
            }
        }
    }

    .index_swiper_wrapper{
        width: 60vw;

        .index_swiper_container{

            .index_slide {
                width: 23vw;
                height: 23vw;

                a{
                    .index_bcg_desktop{
                        width: 90%;
                    }
                }
            }
        }
    }
}

// rwd 992-1200px
@media (min-width: 992px) and (max-width: 1199.98px){
    .index_block{

        .index_title {
            margin-top: 70px;

            h1 {
                font-size: 2.5vw;
            }
        }
    }

    .index_swiper_wrapper{
        width: 60vw;

        .index_swiper_container{
            .index_slide {
                width: 23vw;
                height: 23vw;

                a{
                    img {
                        width: 90%;
                    }
                    div {
                        h2,
                        h3 {
                            font-size: 130%;
                        }
                    }
                }
            }
        }
    }
}

// rwd 768-992px
@media (min-width: 768px) and (max-width: 991.98px){
    .index_block{

        .index_title {
            margin-top: 70px;

            h1 {
                font-size: 2.5vw;
            }
        }
    }
    .index_swiper_wrapper{
        width: 60vw;

        .index_swiper_container{
            .index_slide {
                width: 23vw;
                height: 23vw;

                a{
                    img {
                        width: 90%;
                    }
                    div {
                        h2,
                        h3 {
                            font-size: 110%;
                        }
                    }
                }
            }
        }
    }
}

// rwd 576-768px
@media (min-width: 576px) and (max-width: 767.98px){
    .index_block{

        .index_title {
            margin-top: 50px;

            h1 {
                font-size: 2.5vw;
            }
        }
    }

    .index_swiper_wrapper{
        width: 60vw;

        .index_swiper_container{
            .index_slide {
                width: 23vw;
                height: 23vw;

                a{
                    img {
                        width: 84%;
                    }
                    div {
                        h2,
                        h3 {
                            font-size: 80%;
                        }
                    }
                }
            }
        }
    }
}

// rwd 320-576px
@media (max-width: 575.98px){
    .index_block{
        .index_bcg_desktop {
            display: none;
        }
        .index_bcg_mobile {
            display: block;
            width: 100%;
        }
    }

    .index_right_side {
        width: 23vw;
        @include absolute (auto, auto, 20vw, 23vw);
        transform: rotate(90deg);    
    }

    .index_block {
        .index_disk {
            display: none;
        }
    }

    .index_block{
        .index_top_light, .index_mid_light, .index_bot_light {
            display: none;
        }
    }
    
    
        

    .index_block{
        .index_title {
            margin-top: 20%;

            h1 {
                font-size: 5.4vw;
                text-align: center;
            }
        }
    }

    .index_title h1::after {
        content: 'Tián lám 2022 智慧全球科技聚策展';
        width: auto;
        color: transparent;
    }

    .index_swiper_wrapper{
        width: 66vw;
        top: 33%;

        .index_swiper_container{

            .index_slide {
                width: 23vw;
                height: 40vw;

                a{
                    img {
                        width: 84%;
                    }
                    div {
                        h2,
                        h3 {
                            font-size: 80%;
                        }
                    }
                }
            }
        }
    }

}

