    /* ========== color ========== */
    $black-color:#040F15;
    $main-color:#57FFF5;
    $second-color:#F6FAFB;
    $accent-color:#F37F15;
    $backmain-color:#4ECCA3;
    
    /* ========== font-family ========== */
    $font-family:'Noto Sans TC','Roboto', sans-serif;
    
    /* ======= RWD ========== */
    $xl_bkpoint: 1200px; /* 筆電 */
    $md_bkpoint: 768px; /* 平板 */
    $xs_bkpoint: 375px; /* 手機 */