/* ======= position ======= */
/* 絕對定位 */
/* @include absolute(上:null, 右:null, 下:null, 左:null, 比重:null); */
@mixin absolute($top: null, $right: null, $bottom: null, $left: null, $z-index: null) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    z-index: $z-index;
    @content;
  }
  /* 相對定位 */
  /* @include relative(上: null, 右: null, 下:null, 左:null, 比重:null); */
  @mixin relative($top: null, $right: null, $bottom: null, $left: null, $z-index: null) {
    position: relative;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    z-index: $z-index;
    @content;
  }
  /* 固定 */
  /* @include fixed(上: null, 右: null, 下:null, 左:null, 比重:null); */
  @mixin fixed($top: null, $right: null, $bottom: null, $left: null, $z-index: null) {
    position: fixed;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    z-index: $z-index;
    @content;
  }
  /* 相對固定 */
/* @include sticky(上: null, 右: null, 下:null, 左:null, 比重:null); */
@mixin sticky($top: null, $right: null, $bottom: null, $left: null, $z-index: null) {
    position: sticky;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    z-index: $z-index;
    @content;
  }
  