form.login {
    position: fixed;
    top: 0;
    z-index: 10000000;
    display: none;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    div.member {
        display: flex;
        width: 820px;
        height: 508px;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        overflow: hidden;
        z-index: 3;
        a.btn-close {
            display: block;
            color: $second-color;
            position: absolute;
            top: 10px;
            right: 15px;
            width: 40px;
            height: 40px;
            font-size: 40px;
            margin: 0;
            padding: 0;
            outline: none;
            border: none;
            i.fa-solid{
                color: $second-color;
                text-align: center;
                line-height: 40px;
                font-size: 40px;
            }
            &:hover{
                color: $main-color;
            }
            &:active{
                transform: translateY(4px);
            }
            
        }
        .company-sign-in-container,
        .guest-sign-in-container,
        .company-sign-up-container {
            width: 410px;
            height: 508px;
            border: 1px solid #57fff5;
            .label-before {
                line-height: 20px;
                font-size: 12px;
                top: -10px;
                background: #040f15;
                padding: 0 6px;
                left: 115px;
            }
            h2 {
                text-align: center;
                // color:  $black-color;
                text-shadow: 0px 3px 3px rgba(0, 238, 255, 0.7);
                margin-top: 100px;
            }
            .h2-black {
                color: $black-color;
            }
            .field {
                display: flex;
                position: relative;
                margin: 0 auto 20px;
                height: 36px;
                // border: 1px solid red;
                label::before {
                    content: attr(title);
                    position: absolute;
                    top: 0;
                    left: 120px;
                    line-height: 36px;
                    font-size: 14px;
                    color: $second-color;
                    transition: 300ms all;
                }
                .login_signup {
                    @include input();
                }
            }
            .login-group {
                @include flex-box-center(200px);
                margin: 0 auto;
                // border: 1px solid red;
                display: flex;
                justify-content: center;
                button{
                    display: inline-block;
                    cursor: pointer;
                    margin-top: 10px;
                    button:active {
                        transform: scale(0.95);
                    }
                    &:hover{
                        background-color: $main-color;
                        color: $black-color;
                    }
                }
                .btn-1 {
                    display: block;
                    // margin: 0 10px;
                }
            }

            .forget-a {
                // border: 1px solid red;
                display: block;
                width: 100px;
                height: 30px;
                line-height: 30px;
                margin: 0 auto;
                @include font(16px, 300, center, 1.6);
                @include mobile() {
                    font-size: 14px;
                }
                margin-top: 20px;
                color: $accent-color;
            }
            button {
                transition: transform 80ms ease-in;
                &:hover {
                    color: $black-color;
                    background-color: $main-color;
                }
            }
        }
        .company-sign-in-container {
            order: 1;
            background-color: $black-color;
            // transform: translateX(0);
            // @include relative(0, 0, 0, 0, 2);
            // position: relative;
        }
        .company-sign-up-container {
            // @include absolute(0, 0, 0, 0, 2);
            position: absolute;
            top: 0;
            right: 0;
            display: none;
            // z-index: 4;
        }
        .guest-sign-in-container,
        .company-sign-up-container {
            background-color: $second-color;

            h2.companysignup {
                color: $black-color;
                text-shadow: 0px 2px 2px rgba(0, 238, 255, 0.6);
            }
            h2.companysignup {
                margin-top: 40px;
                margin-bottom: 20px;
                
            }
            .btn-2 {
                margin: 0 auto;
            }
            .field {
                .login_signup {
                    border: 1px solid $black-color;
                    color: $black-color;
                    font-size: 16px;
                    &::selection {
                        background-color: $second-color;
                        color: $main-color;
                    }
                }
                .login_signup {
                    margin-bottom: 0px;
                    margin-top: 0px;
                }
                label::before {
                    color: $black-color;
                }
            }
            .label-before {
                background: $second-color;
            }
            #exb_dropdown {
                display: block;
                width: 200px;
                height: 36px;
                line-height: 36px;
                margin: 0 auto 30px;
                padding: 0 15px;
                font-size: 14px;
                box-sizing: border-box;
                border-radius: 5px;
                font-weight: 700;
                border: 1px solid $black-color;
                color: $black-color;
            }
        }
        .received-form {
            width: 410px;
            height: 508px;
            border: 1px solid $main-color;
            background-color: $second-color;
            position: absolute;
            right: 0;
            top: 0;
            display: none;
            p.rcvd {
                text-align: center;
                margin-top: 90px;
                margin-bottom: 30px;
                letter-spacing: 2px;
                color: $black-color;
                @include font(28px, 700, center, 2);
            }
            p {
                // border: 1px solid red;
                width: 310px;
                margin: 0 auto;
                text-align: center;
                letter-spacing: 2px;
                color: $black-color;
                margin-bottom: 30px;
            }
            button.btn-2 {
                margin: 0 auto;
            }
        }
        .form-forget-password {
            width: 410px;
            height: 508px;
            border: 1px solid $main-color;
            position: absolute;
            right: 0;
            top: 0;
            display: none;
            .h2-forget{
                text-align: center;
                margin-top: 90px;
            }
            ul {
                @include flex-box-between(230px);
                margin: 30px auto 0;
                li {
                    margin-bottom: 20px;
                    #changeemail {
                        width: 200px;
                        height: 36px;
                    }
                }
            }
            button.give {
                margin: 0 auto;
                margin-top: 30px;
            }
        }
        article.overlay-container {
            width: 410px;
            height: 508px;
            border: 1px solid $main-color;
            background-image: url(../img/login/Maskgroup.png);
            position: absolute;
            right: 0;
            top: 0;
            display: none;
            .welcome {
                text-align: center;
                margin-top: 90px;
            }
            p.welslogan {
                text-align: center;
                margin-top: 10px;
                margin-bottom: 20px;
            }
            button.ghost {
                margin: 0 auto;
            }
        }
    }
}

form.-login_page_icon {
    display: block; 
}

.js-block {
    display: block;
}

.js-none {
    display: none;
}

.js-hide {
    visibility: hidden;
}

.js-show {
    opacity: 1;
    pointer-events: auto;
}

.js-slide-left{
    transition: .8s;
    transform: translateX(-100%);
}

.js-slide-right{
    transition: .8s;
    transform: translateX(100%);
}