.login {
    position: fixed;
    top: 0;
    z-index: 300;
    display: none;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    .member {    
        display: flex;
        width: 820px;
        height: 508px;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        // overflow: hidden;
        z-index: 3;
        a.login_btn-close {
            display: block;
            color: $second-color;
            position: absolute;
            top: 10px;
            right: 15px;
            width: 40px;
            height: 40px;
            font-size: 40px;
            margin: 0;
            padding: 0;
            outline: none;
            border: none;
            z-index: 10;
            &:active{
                transform: translateY(4px);
            }
            i.fa-solid{
                color: $second-color;
                text-align: center;
                line-height: 40px;
                font-size: 40px;
                text-shadow: 0px 3px 3px rgba(5, 5, 5, 0.7);
                &:hover{
                    color: $main-color;
                }
            }
        }
        .company-sign-in-container,
        .guest-sign-in-container,
        .company-sign-up-container {    
            width: 410px;
            height: 508px;
            border: 1px solid #57fff5;
            .label-before {
                line-height: 20px;
                font-size: 12px;
                top: -10px;
                background: #040f15;
                padding: 0 6px;
                left: 115px;
            }
            h2 {
                text-align: center;
                // color:  $black-color;
                text-shadow: 0px 3px 3px rgba(0, 238, 255, 0.7);
                margin-top: 100px;
            }
            .h2-black {
                color: $black-color;
            }
            .field {
                display: flex;
                position: relative;
                margin: 0 auto 20px;
                height: 36px;
                // border: 1px solid red;
                label::before {
                    content: attr(title);
                    position: absolute;
                    top: 0;
                    left: 120px;
                    line-height: 36px;
                    font-size: 14px;
                    color: $second-color;
                    transition: 300ms all;
                }
                .login_signup {
                    @include input();
                }
            }
            .login-group {
                @include flex-box-center(200px);
                margin: 0 auto;
                // border: 1px solid red;
                display: flex;
                justify-content: center;
                button{
                    display: inline-block;
                    cursor: pointer;
                    margin-top: 10px;
                    button:active {
                        transform: scale(0.95);
                    }
                    &:hover{
                        background-color: $main-color;
                        color: $black-color;
                    }
                }
                .js-none {
                    display: none;
                }
                .btn-1 {
                    display: block;
                    // margin: 0 10px;
                }
            }

            .forget-a {
                // border: 1px solid red;
                display: block;
                width: 100px;
                height: 30px;
                line-height: 30px;
                margin: 0 auto;
                @include font(16px, 300, center, 1.6);
                @include mobile() {
                    font-size: 14px;
                }
                margin-top: 20px;
                color: $second-color;
                &:hover{
                    color: $accent-color;
                }
            }
            button {
                transition: transform 80ms ease-in;
                &:hover {
                    color: $black-color;
                    background-color: $main-color;
                }
            }
        }
        .js-block {
            display: block;
        }
        .company-sign-in-container {
            order: 2;
            background-color: $black-color;
            z-index: 3;
            // transform: translateX(0);
            // @include relative(0, 0, 0, 0, 2);
            // position: relative;
            .login-group{
                #login_btn_signup_rwd{
                    display: none;
                }
                .js-block {
                    display: block;
                }
            }
            p{
                color: $accent-color;
                @include font(14px, 300, center, 2);
                display: none;
            }
        }
        // .js-block {
        //     display: block;
        // }
        .company-sign-up-container {
            // @include absolute(0, 0, 0, 0, 2);
            position: absolute;
            top: 0;
            right: 0;
            // display: none;
            z-index: 2;
            .btn_group2{
                display: flex;
                .login_btn_back2{
                    display: none;
                }
            }
        }
        .guest-sign-in-container,
        .company-sign-up-container {
            background-color: $second-color;

            h2.companysignup {
                color: $black-color;
                text-shadow: 0px 2px 2px rgba(0, 238, 255, 0.6);
            }
            h2.companysignup {
                margin-top: 40px;
                margin-bottom: 20px;
                
            }
            .btn-2 {
                margin: 0 auto;
            }
            .field {
                .login_signup {
                    border: 1px solid $black-color;
                    color: $black-color;
                    font-size: 16px;
                    &::selection {
                        background-color: $second-color;
                        color: $main-color;
                    }
                }
                .login_signup {
                    margin-bottom: 0px;
                    margin-top: 0px;
                }
                label::before {
                    color: $black-color;
                }
            }
            .label-before {
                background: $second-color;
            }
            #exb_dropdown {
                display: block;
                width: 200px;
                height: 36px;
                line-height: 36px;
                margin: 0 auto 30px;
                padding: 0 15px;
                font-size: 14px;
                box-sizing: border-box;
                border-radius: 5px;
                font-weight: 700;
                border: 1px solid $black-color;
                color: $black-color;
            }
        }
        .guest-sign-in-container{
            z-index: 2;
        }
        .received-form {
            width: 410px;
            height: 508px;
            border: 1px solid $main-color;
            background-color: $second-color;
            position: absolute;
            right: 0;
            top: 0;
            display: none;
            p.rcvd {
                text-align: center;
                margin-top: 90px;
                margin-bottom: 30px;
                letter-spacing: 2px;
                color: $black-color;
                @include font(28px, 700, center, 2);
            }
            p {
                // border: 1px solid red;
                width: 310px;
                margin: 0 auto;
                text-align: center;
                letter-spacing: 2px;
                color: $black-color;
                margin-bottom: 30px;
            }
            button.btn-2 {
                margin: 0 auto;
            }
        }
        .form-forget-password {
            width: 410px;
            height: 508px;
            border: 1px solid $main-color;
            position: absolute;
            right: 0;
            top: 0;
            display: none;
            z-index: 2;
            background-color: $black-color;
            .h2_forget{
                text-align: center;
                margin-top: 100px;
            }
            ul {
                @include flex-box-between(230px);
                margin: 30px auto 0;
                li {
                    margin-bottom: 20px;
                    #changeemail {
                        @include input();
                        width: 200px;
                        height: 36px;
                        margin-bottom: 0px;
                    }
                }
            }
            button.give {
                margin: 0 auto;
                margin-top: 30px;
            }
            .js-block {
                display: block;
            }
            p{
                color: $accent-color;
                font-size: 14px;
                text-align: center;
                display: none;
            }
            .login_btn_back{
                margin: 0 auto;
                margin-top: 20px;
            }
        }
        .js-block {
            display: block;
        }
        .js-none {
            display: none;
        }
        .js-block2 {
            display: block;
        }
        .js-none2 {
            display: none;
        }
        .js-block3 {
            display: block;
        }
        
        .overlay-container {
            width: 410px;
            height: 508px;
            border: 1px solid $main-color;
            background-image: url(../img/login/Mask_group.png);
            position: absolute;
            left: 0;
            top: 0;
            // display: none;
            z-index: 3;
            .welcome {
                color: $second-color;
                text-align: center;
                margin-top: 90px;
            }
            p.welslogan {
                text-align: center;
                margin-top: 10px;
                margin-bottom: 20px;
            }
            button.ghost {
                margin: 0 auto;
            }
        }
        // .js-none {
        //     display: none;
        // }
    }
}

.-login_page_icon {
    display: block; 
}


.js-none {
    display: none;
}

.js-block {
    display: block;
}

.js-hide {
    visibility: hidden;
}

.js-show {
    opacity: 1;
    pointer-events: auto;
}

.js-slide-left{
    transition: .8s;
    transform: translateX(-100%);
}

.js-slide-right{
    transition: .8s;
    transform: translateX(0);
}
.js-slide-right2{
    transition: .8s;
    transform: translateX(100%);
}
.login-rwd{
    display: none;
}

// .login-error{
//     border: 1px solid red;
// }

@include pad(880px) {
    // .login{
    //     display: none;
    // }
    .login {
        // display: block;
        .member {
            display: flex;
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            z-index: 3;

            flex-wrap: wrap;
            width: 350px;
            height: 440px;
            display: block;
            a.login_btn-close{
                top: -50px;
                right: -10px;
            }
            .tab-title {
                border-radius: 5px;
                @include flex-box-center(350px);
                height: 40px;
                // list-style: none;
                li {
                    background-color: $second-color;
                    width: 175px;
                    list-style: none;
                    box-sizing: border-box;
                    a {
                        text-align: center;
                        color: $black-color;
                        display: block;
                        height: 40px;
                        line-height: 40px;
                    }
                }
                li.active {
                    // border-bottom: 1px solid $second-color;
                    background: $second-color;
                    a{
                        color: $black-color; 
                    }
                }
                li.-on{
                    background-color: $black-color;
                    a{
                        color: $second-color;
                    }
                    
                }
            }
            .guest-sign-in-container,
            .company-sign-up-container,
            .received-form,
            .form-forget-password,
            .form-container {
                // border: 1px solid $main-color;   
                width: 350px;
                height: 400px;
                // display: none;
                .h2-white,.h2-black {
                    margin-top: 0;
                    padding-top: 20px;
                }
                .label-before {
                    left: 90px;
                }
                .field{
                    label::before {
                        left: 90px;
                    }
                }
            }
            .form-forget-password{
                .h2_forget{
                    text-align: center;
                    margin-top: 50px;
                }
            }
            .company-sign-up-container{
                display: none;
                width: 350px;
                height: 450px;
                margin-top: 40px;
                border: 0;
                // .h2-white,.h2-black {
                //     margin-top: 24px;  
                // }
                h2.companysignup{
                    // @include font(20px, 700, center, 1.8);
                    margin-top: 20px;
                    margin-bottom: 10px;
                }
                .field{
                    // @include font(16px, 700, center, 1.6);
                }
                .btn_group2{
                    display: flex;
                    .login_btn_back2{
                        display: block;
                    }
                }
                
            }
            .guest-sign-in-container{
                display: block;
                margin-top: 0;
                border: none;
            }
            .company-sign-in-container {
                width: 350px;
                height: 400px;
                display: block;
                border: 0;
                margin-top: 0;
                .h2-white,.h2-black {
                    // margin-top: 24px;   
                }
                h2{
                    margin-top: 0;
                }
                .field{
                    label::before {
                        left: 90px;
                    }
                }
                .login-group{
                    #login_btn_signup{
                        display: none;
                    }
                    #login_btn_signup_rwd{
                        display: block;
                    }
                }
                .label-before {
                    left: 90px;
                }
                .js-block{
                    display: block;
                }
                p{
                    color: $accent-color;
                    display: none;
                }
            }
            .js-none {
                display: none;
            }
            .js-block{
                display: block;
            }
            // .tab-inner {
                
            // }
            .overlay-container{
                display: none;
            }
        }
    }
}

    @media screen and (min-width: 880px) {
        .login{
            div.member{
                .tab-title{
                    display: none;  
                }
            }
        }
    }
