/* ----- NAV選單 ----- */
.nav {
  @include fixed(0px, 0, null, null);
  z-index: 150;
  margin: 0px auto;
  padding: 0px 20px;
  height: 60px;
  @include flex-box-between(100%);
  width: 100%;
  flex-basis: auto;
  flex-wrap: nowrap;
  background-color: $black-color;
  @include mobile(568px) {
    padding: 0 6px;
  }
  .logo_icon {
    width: 60px;
    height: 60px;
    display: block;
    color: $second-color;
    font-size: 25px;
    text-align: center;
    .fa-user-check,
    .fa-user,
    .fa-bars {
      line-height: 60px;
    }
  }
  .logo {
    width: 50px;
    height: 50px;
    // display: none;
    @include mobile(568px) {
      width: 30px;
      height: 30px;
      margin-left: 6px;
    }
  }
  // 廠商後台LOGO不同
  .logo-orange {
    width: 60px;
    display: none;
  }
  .img {
    border: 0px;
    box-shadow: 0px 0px 0px 0px;
  }
  ul {
    width: 300px;
    @include pad(768px) {
      width: 80%;
    }
    .nav-name {
      @include flex-box-center(200px);
      @include mobile(568px) {
        font-size: 14px;
        width: 160px;
      }
    }
    // 登入顯示
    .nav-login {
      // display: none;
      a {
        i{
          font-size: 20px;
          @include mobile(568px) {
            font-size: 14px;
          }
        }
      }
    }
    li {
      // width: 60px;
      p {
        padding: 0 6px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        font-size: 20px;
        @include pad(770px) {
          width: 140px;
        }
        @include mobile(568px) {
          font-size: 14px;
          width: 100px;
        }
      }
    }
    .login-icon-hide{
      display: none;
    }
    .login-icon-show{
      display: block;
    }
  }
  /* 漢堡圖示變化 */
  #ham-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 15px;
    margin-top: 15px;
    position: relative;
    /* margin: 50px auto; */
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    z-index: 199;
    @include mobile(568px) {
      margin: 0;
      width: 40px;
      height: 15px;
    }
  }
  /* 漢堡三條線 */
  #ham-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: $second-color;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    @include mobile(568px) {
      height: 2px;
      width: 15px;
    }
  }
  /* 漢堡三條線高度 */
  #ham-icon span:nth-child(1) {
    top: 0px;
  }

  #ham-icon span:nth-child(2),
  #ham-icon span:nth-child(3) {
    top: 9px;
    @include mobile(568px) {
      top: 6px;
    }
  }

  #ham-icon span:nth-child(4) {
    top: 18px;
    @include mobile(568px) {
      top: 12px;
    }
  }
  /* 漢堡點擊效果 */
  #ham-icon.open span:nth-child(1) {
    top: 9px;
    width: 0%;
    left: 50%;
  }

  #ham-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #ham-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #ham-icon.open span:nth-child(4) {
    top: 9px;
    width: 0%;
    left: 50%;
  }
  
}
/*  -----漢堡MENU----- */
.menu {
  /* @include absolute(上, 右, 下:null, 左:null, 比重:null); */
  @include fixed(0px, 0, null, null, 1001);
  text-align: center;
  flex-wrap: wrap;
  height: calc(100vh);
  padding-top: 60px;
  width: 300px;
  background-color: $black-color;
  transition: 1s;
  transform: translateX(200%);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $main-color;
  z-index: 101;
  @include mobile(375px) {
    width: 100%;
  }
  li {
    border-bottom: 1px solid $main-color;
    height: 60px;
    a {
      text-align: center;
      width: 100%;
      display: block;
      line-height: 60px;
      color: $second-color;
    }
    .accent-color {
      color: $accent-color;
    }
  }
  // 廠商後台頁面
  .nav-company {
    // display: none;
  }
}
// 點擊漢堡選單，展開
.menu-active {
  opacity: 1;
  transform: translateX(0%);
}
// menu遮罩
.menu-backdrop {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  inline-size: 120vw;
  block-size: 120vh;
  backdrop-filter: blur(4px);
  pointer-events: inherit;
  background-color: rgba($black-color, 0.5);
  z-index: 99;
}

.-blur {
  display: none;
}
.bg-null{
  background-color:rgba(0, 0, 0, 0.075)
}
.company-menu{
  @include fixed(60px, null, null, 0,100);
  @include flex-box-column(70px);
  background-color: $black-color;
  height: calc(100vh - 60px);
  li{
    margin-bottom: 90px;
    a{
      width: 40px;
      height: 40px;
    }
  }
}
.company-menu-hide{
  display: none;
}
.company-menu-show{
  display: block;
}
