<!-- <div class="login" id="login">
    <section class="form-container company-sign-in-container">
        <form action="#" method="#" id="right_form">
            <h2 class="mb-30">廠商登入</h2>
            <div class="field mb-20">
                <input type="email" id="email" required autocomplete="off" class="" />
                <label for="email" title="email" data-title="email"></label>
            </div>
            <div class="field mb-20">
                <input type="password" id="password" required autocomplete="off"/>
                <label for="password" title="密碼" data-title="密碼"></label>
            </div>
            
            <div class="group">
                <button type="submit" class="btn-short mb-20">登入</button>
                <button type="submit" class="btn-short">註冊</button>
            </div>
            <a href="#" class="mt-20">忘記密碼?</a>
        </form>
    </section>
    <section class="form-container guest-sign-in-container">
        <form action="#" method="#" id="left_form">
            <h2>我是訪客</h2>
            <input type="text" placeholder="姓名" />
            <input type="email" placeholder="email" />
            <input type="text" placeholder="貴公司單位" />
            <button>參觀</button>
        </form>
    </sectoin>
    <section class="form-signup guest-sign-up-container">
        <form action="#" method="#" id="signup_form">
            <h2>廠商註冊</h2>
            <input type="text" placeholder="姓名" />
            <input type="email" placeholder="電子郵件" />
            <input type="text" placeholder="密碼" />
            <input type="text" placeholder="貴公司單位" />
            <select name="" id="">
                <option value="">展覽類型</option>
                <option value="">Tián lám 2022智慧全球科技聚策展</option>
            </select>
            <button type="submit">送出資料</button>
        </form>
    </sectoin>
    <section>
        <h2>已收到申請!</h2>
        <p>我們已收到您的詳細資料，審核工作天為7個工作天，敬請耐心等候~</p>
        <button>確認</button>
    </section>
    <section>
        <form action="#" method="#" id="">
            <h2>忘記密碼</h2>
            <i class="fa-solid fa-envelope"></i><input type="email" placeholder="電子郵件">
            <button type="submit">寄送驗證信</button>
        </form>
    </section>
    <article class="overlay-container" id="overlay-slide">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h2>歡迎回來</h2>
                <p>登入為您的展覽創造無限可能 </p>
                <button class="ghost" id="signIn">登入會員</button>
            </div>
        </div>
    </article>
</div> -->
