<form class="login" id="login">
    <div class="member" id="">
        <a class="btn login_btn-close" id="BtnClose"><i class="fa-solid fa-xmark"></i></a>
        <div class="form-container company-sign-in-container" id="company-sign-in-container">
            <h2 class="mb-30 h2-white">廠商登入</h2>
            <div class="field">
                <input type="text" id="email-1" required autocomplete="off" placeholder="" class="login_signup" />
                <label for="email-1" title="電子郵件" data-title="email"></label>
            </div>
            <div class="field">
                <input type="password" id="password-1" required autocomplete="off" placeholder="" class="login_signup" />
                <label for="password-1" title="密碼" data-title="password"></label>
            </div>
            <div class="login-group">
                <button type="submit" class="btn-short mr-10">登入</button>
                <button type="button" class="btn-short ml-10" id="login_btn_signup">註冊</button>
            </div>
            <a href="#" class="mt-20 forget-a">忘記密碼?</a>
        </div>

        <div class="form-container guest-sign-in-container">
            <h2 class="mb-30 guestsignin h2-black">我是訪客</h2>
            <div class="field">
                <input type="text" id="name-1" required autocomplete="off" class="login_signup" placeholder="" />
                <label for="name-1" title="姓名" data-title="name"></label>
            </div>
            <div class="field">
                <input type="text" id="email-2" required autocomplete="off" class="login_signup" placeholder="" />
                <label for="email-2" title="電子郵件" data-title="e-mail"></label>
            </div>
            <div class="field">
                <input type="text" id="Company-1" required autocomplete="off" class="login_signup" placeholder="" />
                <label for="Company-1" title="貴公司單位" data-title="Company"></label>
            </div>
            <button type="button" class="btn-short btn-2">參觀</button>
        </div>

        <div class="form-signup company-sign-up-container">
            <h2 class="companysignup mt-45 h2-black">廠商註冊</h2>
            <div class="field">
                <input type="text" id="name-2" required autocomplete="off" class="login_signup" placeholder="" />
                <label for="name-2" title="姓名" data-title="name"></label>
            </div>
            <div class="field">
                <input type="text" id="email-3" required autocomplete="off" class="login_signup" placeholder="" />
                <label for="email-3" title="電子郵件" data-title="email"></label>
            </div>
            <div class="field">
                <input type="password" id="password-2" required autocomplete="off" class="login_signup" placeholder="" />
                <label for="password-2" title="密碼" data-title="password"></label>
            </div>
            <div class="field">
                <input type="text" id="Company-2" required autocomplete="off" class="login_signup" placeholder="" />
                <label for="Company-2" title="貴公司單位" data-title="Company"></label>
            </div>

            <select name="" id="exb_dropdown">
                <option value="">展覽類型</option>
                <option value="">Tián lám 2022智慧全球科技聚策展</option>
            </select>

            <button type="submit" class="btn-short btn-2 login_btn_submitinfo">送出資料</button>
        </div>

        <div class="received-form">
            <p class="rcvd">已收到申請!</p>
            <p>我們已收到您的詳細資料，<br>審核工作天為7個工作天，<br>敬請耐心等候~</p>
            <button type="button" class="btn-2 btn-short login_btn_confirm">確認</button>
        </div>
        
        <div class="form-forget-password" id="form-forget-password">
            <h2 class="h2-forget">忘記密碼</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i></li>
                <li><input type="text" id="changeemail" required autocomplete="off" placeholder="電子郵件" /></li>
            </ul>
            <button type="submit" class="give btn-short ">寄送驗證信</button>
        </div>

        <div class="overlay-container form-container" id="overlay-slide">
            <h2 class="welcome">歡迎回來</h2>
            <p class="welslogan">登入為您的展覽創造無限可能 </p>
            <button class="ghost btn-short" id="signIn">登入會員</button>
        </div>

    </div>

</form>