<div class="pt-60">
  <div class="nav" id="nav">
    <a href="./index.html" class="logo" id="logo_main"><img src="img/tianlam-logo-blue.svg" alt="logo"
        class="img"></img></a>
    <a href="./index.html" class="logo logo-orange nav-company" id="logo_orange"><img src="img/tianlam-logo-orange.svg"
        alt="logo" class="img"></img></a>
    <ul class="flex-box-end">
      <li class="nav-name nav-login" id="nav_login"><a href="./index.html" class="logo_icon"><i
            class="fa-solid fa-user-check"></i></a>
        <p id="login_name">尚未登入</p>
      </li>
      <li id="login_name_index"><a href="#" id="login_page_icon" class="logo_icon"><i class="fa-solid fa-user"></i></a></li>
      <li>
        <label for="checkbox" id="ham-icon" class="btn_switch">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </label>
      </li>
    </ul>
  </div>
  <ul class="menu">
    <li class="nav-company"><a href="companyback_info.html" class="accent-color">管理後台</a>
      <img class="now_page menu_img_back -hide" src="img/live/live_circle_2.svg" alt="圓形圖案">
    </li>
    <li><a href="extend.html">虛擬商展</a>
      <img class="now_page menu_img_extend -hide" src="img/live/live_circle_2.svg" alt="圓形圖案">
    </li>
    <li><a href="live.html">現正直播</a>
      <img class="now_page menu_img_live -hide" src="img/live/live_circle_2.svg" alt="圓形圖案">
    </li>
    <li><a href="about.html">展會介紹</a>
      <img class="now_page menu_img_about -hide" src="img/live/live_circle_2.svg" alt="圓形圖案">
    </li>
    <li><a href="news.html">新聞資訊</a>
      <img class="now_page menu_img_news -hide" src="img/live/live_circle_2.svg" alt="圓形圖案">
    </li>
    <li><a href="contect.html">聯絡我們</a>
      <img class="now_page menu_img_contect -hide" src="img/live/live_circle_2.svg" alt="圓形圖案">
    </li>
    <li class="nav-company" id="nav_logout"><a href="./index.html" class="accent-color">登出
        <img src="img/logout.svg" alt="logout" class="ml-6 logout"></img></a>
    </li>

  </ul>
  <ul class="company-menu" id="company_menu">
    <li id="companyBack_info"><a href="companyback_info.html"><img src="img/c_back/company_menu_1.svg"
          alt="廠商資料設定區"></a></li>
    <li id="companyBack_tech"><a href="companyback_tech.html"><img src="img/c_back/company_menu_2.svg" alt="技術展示區"></a>
    </li>
    <li id="companyBack"><a href="companyback.html"><img src="img/c_back/company_menu_3.svg" alt="直播申請區"></a></li>
  </ul>
  <div id="menu-backdrop"></div>
</div>
<script>
  
  document.querySelector('#login_name').textContent = sessionStorage.getItem('login_name');
  // document.querySelector('.fa-user-check').style.display = "none";
  // document.querySelector('#login_page_icon').textContent = sessionStorage.getItem('login_name');
</script>